<ng-form class="additem-popup">

    <p style=" margin: 10px 8px 12px 18px; text-align: center;">Upload well lit portrait shots of your item for sale or
        other insperational images related to your stores message.</p>

    <div style="width:240px;display: inline-block;margin-bottom: 10px">
        <div class="btn sml hidden-desktop"
             device-detector
             pl-upload
             pl-files-model="plupfiles"
             pl-multi-params-model="pluploadConfig.multiParams"
             pl-url="{{pluploadConfig.uploadPath}}"
             on-file-uploaded="uploaded($response)"
             on-file-added="added()"
             on-file-progress="progress()"
             pl-multi-selection="false"
             pl-instance="uploader"
             pl-resize-model="pluploadConfig.resize"
             pl-init-delay="true">Photo
        </div>
        <div class="btn sml" pl-upload
             pl-progress-model="percent"
             pl-auto-upload="true"
             pl-files-model="plupfiles"
             pl-multi-params-model="pluploadConfig.multiParams"
             pl-url="{{pluploadConfig.uploadPath}}"
             on-file-uploaded="uploaded($response)"
             on-file-added="added()"
             on-file-progress="progress()"
             pl-multi-selection="true"
             pl-instance="uploader"
             pl-resize-model="pluploadConfig.resize"
             pl-init-delay="true">Multiple
        </div>
    </div>

    <h6>Uploaded images: {{item.images.length}}</h6>

    <input style="width:217px;" class="regular-feild" ng-model="item.title" placeholder="title"/>

    <div style="margin: 10px 0px 0px 0px;">
        <textarea ng-model="item.description" class="input item-desicription" placeholder="Item description"></textarea>
    </div>

    <div style="inline: block; width: 220px; margin: 0px 0 10px 0;">
        <div style="float: left; margin: 0px 0px 0px 0px;"><input ng-model="item.price" id="textfield8" type="number"
                                                                  placeholder="Price:"></div>

        <div style="float: left; margin: 0px 0px 0px 10px;"><input ng-model="item.size" id="textfield3" type="text"
                                                                   placeholder="Size"></div>

        <div style="float: left; margin: 0px 0px 0px 10px;"><input ng-model="item.quantity" id="textfield3"
                                                                   type="number" placeholder="#"></div>

    </div>

    <select ng-model="item.box"
            class="sml selector1" style="margin: -2px 0 20px 0; width: 220px;">
        <option disabled value="">Pick up box size</option>
        <option value="30">Large</option>
        <option value="20">Medium</option>
        <option value="10">Small</option>
    </select>


    <div style="margin: 10px 0px 20px 0px;"><a class="btn sml" ng-click="save()">&nbsp;Post&nbsp;</a></div>

</ng-form>