<div ng-if="showPanel" ng-include="'app/components/item/newstore-panel.html'"></div>
<div class="grid-container itemfeed">
    <div ng-repeat="item in items track by $index" class="item-container itemview">
        <div class="stream-item-pic">
            <div class="x-profile" ng-if="isSeller" ng-click="toggleItemStatus(item)"></div>
            <div ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:1})" id="item-large-pic"
                 ng-style="{'background-image': 'url(' + item.images[0].image_url + ')', 'opacity':item.status==10?0.3:1}">
            </div>
        </div>
        <div layout layout-align="center center" layout-fill ng-style="{'opacity':item.status==10?0.3:1}">
            <div ng-if="isSeller" ng-cloak>
                <md-tabs md-center-tabs md-no-pagination md-stretch-tabs="always" md-no-ink-bar
                         md-dynamic-height md-border-bottom>
                    <md-tab>
                        <md-tab-label>
                            <div class="message-circle"></div>
                        </md-tab-label>
                        <md-tab-body>
                            <div ng-include="'app/components/item/item-feed-comments.html'"></div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:1})">
                        <md-tab-label>
                            <div ng-if="!item.price" class="buy-circle"></div>
                            <span class="price-tag">${{item.price | itemPrice}}</span>
                        </md-tab-label>
                    </md-tab>
                    <md-tab ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:2})">
                        <md-tab-label>
                            <div class="promote-circle"></div>
                        </md-tab-label>
                    </md-tab>
                    <md-tab ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:3})">
                        <md-tab-label>
                            <div class="edit-circle"></div>
                        </md-tab-label>
                    </md-tab>
                </md-tabs>
            </div>

            <div ng-if="!isSeller" ng-cloak>
                <md-tabs md-center-tabs md-no-pagination md-stretch-tabs="always" md-no-ink-bar
                         md-dynamic-height md-border-bottom>
                    <md-tab>
                        <md-tab-label>
                            <div class="buyer-message-circle"></div>
                        </md-tab-label>
                        <md-tab-body>
                            <div ng-include="'app/components/item/item-feed-comments.html'"></div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab ng-click="goToBuyItem(store.store_url, item.item_url)">
                        <md-tab-label>
                            <div ng-if="!item.price" class="buy-circle"></div>
                            <span class="price-tag">${{item.price | itemPrice}}</span>
                        </md-tab-label>
                    </md-tab>
                    <md-tab ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:2})">
                        <md-tab-label>
                            <div class="heart-circle"></div>
                        </md-tab-label>
                    </md-tab>
                    <md-tab ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:3})">
                        <md-tab-label>
                            <div class="location-circle"></div>
                        </md-tab-label>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>