<div infinite-scroll='vm.StreamService.nextPage()' infinite-scroll-disabled='vm.StreamService.busy'
     infinite-scroll-distance='1'>
    <div ng-if="showPanel" ng-include="'app/components/item/newstore-panel.html'"></div>
    <div ng-if="vm.StreamService.items"
         class="grid-container itemgrid grid s-grid s-grid--divide-3 m-grid--divide-4 l-grid--divide-7">
        <div ng-repeat="item in vm.StreamService.items track by $index" class="grid_unit">
            <div class="item-preview-small-grid">
                <div class="x-profile" ng-if="isSeller && !$state.includes('stream-grid')"
                     ng-click="toggleItemStatus(item)"></div>
                <div ng-class="item.status|itemStatus">
                    <div ui-sref="itemview({storeurl:item.user.store.store_url,itemurl:item.item_url,tab:1})"
                         style="background-image:url({{item.images[0].image_url}});"
                         class="grid-image">
                        <div ng-if="item.hasActions" class="item-cta"></div>
                        <div
                            ng-if="(item.itemSellsQuantity == item.quantity) && item.itemSellsQuantity>0 && item.quantity>0"
                            class="item-sold-text">SOLD
                        </div>
                    </div>
                    <p id="grid-price-position"
                       ng-if="(item.price && item.quantity && item.box>=0 && item.price > 0) && !(item.itemSellsQuantity == item.quantity)">
                        <b
                            class="grid-price-text">${{item.price|itemPrice}}</b></p>

                    <p id="grid-price-position"
                       ng-if="!item.price || !item.quantity || item.box<0 || (item.itemSellsQuantity == item.quantity)">
                        <b
                            class="grid-price-text">$---</b></p>
                </div>
            </div>
        </div>
    </div>
    <div layout="column"
         layout-align="center center">
        <md-progress-circular
            class="io-primary-btn progress-margin"
            ng-show='vm.StreamService.busy'
            md-diameter="40"></md-progress-circular>
    </div>
</div>