<md-content>
    <div style="position: relative">
        <md-button ng-if="isSeller" ng-click="toggleItemStatus(item)"
                   style="position:absolute; top:0; right:0; background-color: lightcoral"
                   class="md-fab md-hue-1" aria-label="Active/Unactive">
            <ng-md-icon icon="close" style="fill:white"></ng-md-icon>
        </md-button>
    </div>
    <div ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:1})" id="item-large-pic"
         ng-style="{'background-image': 'url(' + item.images[0].image_url + ')', 'opacity':item.status==10?0.3:1}"
         style="background-repeat: no-repeat;">
        <img ng-src="{{item.images[0].image_url}}" style="visibility: hidden;">
    </div>
    <md-content layout layout-align="start center" class="bottom-actions">
        <div layout layout-align="center center" class="price-tag-wrapper"
             ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:1})">
            <div ng-if="!item.price" class="buy-circle"></div>
            <span ng-if="item.price" class="price-tag">${{item.price | itemPrice}}</span>
        </div>
        <md-card-content flex layout layout-align="start start"
                         ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:0})">
            <p><b>{{item.description|itemDescription}}</b></p>
        </md-card-content>
    </md-content>
</md-content>