<!--TODO: Make this not table-->
<table class="comment">
    <tr>
        <td class="icon-message">
            <span class="description-small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </td>
        <td>
            <p>
                {{item.description | itemDescription}}
            </p>
        </td>
    </tr>
    <tr ng-repeat="comment in item.comments | limitTo:2">
        <td class="icon-message">
            <span ng-class="item.userFullName==comment.authorFullName?'seller-message-small':'buyer-message-small'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </td>
        <td>
            <p>
                <b ng-class="item.userFullName==comment.authorFullName?'seller-name-text':'buyer-name-text'"><a
                        ui-sref="store({storeurl:comment.storeUrl})">{{item.userFullName!==comment.authorFullName?comment.authorFullName:''}}</a></b>
                {{comment.content}}
            </p>
        </td>
    </tr>
</table>
<div class="leavecomment" style=" margin: 10px 0 10px 10px; ">
    <a style="color: #4c87f1; text-decoration: none !important;"
       ng-click="leavecomment({storeurl:store.store_url,itemurl:item.item_url, tab:0})">Leave comment</a>
</div>
<div class="seemorecontainer" ng-if="item.comments.length>2"
     ng-click="seemore({storeurl:store.store_url,itemurl:item.item_url, tab:0})">
    <div class="seemore" style=" margin: -28px 8px 4px -10px; text-align: right;">
        <span>See more...</span>
    </div>
</div>