.itemview {
    margin-top: 20px;
}

.itemview md-tabs {
    border-top: none;
    width: 100%;
}

.itemview md-card, .itemview md-content {
    background-color: transparent;
}

.itemview md-tabs .md-tab:not(.md-active) {
    background-color: rgba(0, 0, 0, 0.3);
}

.itemview md-tabs .md-tab {
    min-width: 77px;
    padding: 0 13px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 1px;
}

.itemview md-tabs .md-tab:first-child {
    border-left: none;
}

.itemview md-tabs .md-active {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 0;
}

.itemview md-tabs[md-border-bottom] md-tabs-wrapper {
    border-style: none;
}

.itemview .price-tag {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
}

.itemview md-list .md-subheader {
    background-color: transparent;
}

.itemview md-list .md-subheader-inner {
    background-color: transparent;
    padding: 5px 20px;
}

/*Item container on feed*/
.itemfeed > .item-container {
    margin-bottom: 10px;
    width: 100%;
    max-width: 640px;
}

.itemfeed .comment .icon-message {
    vertical-align: top;
}

.itemfeed .bottom-actions {
    background-color: #ccc;
}

.itemfeed .bottom-actions .price-tag-wrapper {
    padding: 0 15px 0 15px;
    min-width: 30%;
    cursor: pointer;
}

.io-item-stream-description {
    background-color: white;
    padding: 16px 5px;
    min-height: 51px;
}

.itemview.item-container input, .login-instagram input {
    box-shadow: none;
}

.itemview.item-container md-input-container, .login-instagram input {
    margin: 0 0;
}

.itemview.item-container md-input-container input {
    margin-bottom: 0;
}

.itemview.item-container md-list {
    padding: 0;
    margin-bottom: 0;
}

.itemview.item-container md-list.share-list {
    margin-top: -25px;
}

.itemview.item-container md-list.share-list md-switch {
    margin: 10px 0;
}

.itemview.item-container .url-text.share-url {
    margin-bottom: 0;
}

.itemview.item-container .share-custom-services .md-button {
    margin: 0 8px;
}

.itemview.item-container .io-shipping-proccessing {
    border-radius: 25px;
}

.itemview.item-container ng-form[name="form.postForm"] md-input-container {
    margin-top: 28px;
}

.add-item-container.itemview.item-container .hidden-add-item {
    display: none;
}

.reduce-margin {
    margin: 1px 0 1px 0;
    padding: 0;
}

.top-margin {
    padding: 40px 0 0 0;
}

.md-fab.md-fab-top-right.io-close-btn {
    top: 2px;
    right: 2px;
}

.seemore-container {
    /*font-family: Helvetica Neue, Helvetica, Arial;*/
    z-index: 1;
    padding: 0;
    margin: 0;
}

.seemore-container .md-button {
    margin: 0;
    padding: 0 0 0 5px;
}

.itemview.item-container .io-input-layout {
    padding-bottom: 0;
}

.itemview.item-container .io-input-layout md-input-container {
    padding-bottom: 0 !important;
}

.itemview.item-container .io-input-layout md-input-container .md-errors-spacer {
    display: none;
}

.location-tab-content .angular-google-map-container {
    height: 200px;
    width: 100%;
}

.space {
    margin: 10px;
}

.selector1 {
    font-size: 20px;
    margin-top: 10px;
}

.description {
    padding: 20px 8px 20px 8px;
}

.bottom-padding {
    padding: 0 0 15px 0;
}

h3.delivery-address {
    text-align: center;
    line-height: 20px;
    margin-top: 0;
}

.io-new-store-panel p {
    line-height: 20px;
    text-align: justify;
}

.io-new-store-panel md-card {
    background-color: rgba(255, 255, 255, 0.1);
}

.io-picture-preview {
    margin-right: 5px;
    min-height: 70px;
    height: auto;
}

@media only screen and (min-height: 600px) {
    .io-picture-preview {
        min-height: 120px;
    }
}

.io-picture-preview .md-fab.md-mini.md-primary.io-secondary-btn.io-close-picture-preview {
    margin: -15px -10px 0 0;
}

div.item-sale-status h5 {
    -webkit-margin-before: 0.6em;
    -webkit-margin-after: 0em;
}

.item-sold-text {
    background-color: rgba(255, 0, 0, 0.7);
    top: 34px;
    color: #000;
    font-size: 18px;
    letter-spacing: .2em;
    line-height: 1.2em;
    padding: 0;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(-33deg);
    transform: rotate(-33deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.inapp-warning-dialog {
    top: -70px;
}

.inapp-warning p {
    margin: 16px 16px;
    text-align: center;
    line-height: 24px;
}

.multistore-content {
    background: transparent;
}

.io-stream-card {
    margin: 0;
}

.md-subheader .md-subheader-inner{
    padding: 0;
}

.md-sticky-clone[sticky-state="active"]:not(.md-sticky-no-effect) .md-subheader-inner {
    -webkit-animation: none;
    animation: none;
}

.photo {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 450px;
    /*position: relative;*/
    background-image: url("https://s3.amazonaws.com/cuturia/mobbbi/OVvZmckHqwdyFCqPyiZIPqYS6CMfpNcd.12558382_498711613641867_81093223_n.jpg");
}

.profile.item-stream-profile{
    width: 45px;
    min-height: 45px !important;
}