<div ng-if="$state.includes('stream') && isSeller" layout-margin
     ui-sref="grid({storeurl:item.user.store.store_url, mode:'feed'})" style="position: absolute; ">
    <img class="profile item-stream-profile" ng-src="{{item.user.store.avatar_url}}">
</div>
<div ui-sref="itemview({storeurl:storeUrl,itemurl:item.item_url,tab:1})"
     ng-style="{'background-image': 'url(' + item.images[0].image_url + ')', 'opacity':item.status==10?0.3:1}"
     style="background-repeat: no-repeat;background-size:cover;">
    <img item-stream-card-height ng-src="{{item.images[0].image_url}}" style="visibility: hidden;">
</div>
<md-content layout layout-align="start center" class="bottom-actions">
    <div layout layout-align="center center" class="price-tag-wrapper"
         ui-sref="itemview({storeurl:storeUrl,itemurl:item.item_url,tab:0})">
        <div layout layout-align="center center">
            <div ng-if="!item.price || !item.quantity || !item.box || (item.itemSellsQuantity == item.quantity)"
                 class="buy-circle"></div>
                <span ng-if="(item.price && item.quantity && item.box && item.price > 0) && !(item.itemSellsQuantity == item.quantity)"
                      class="price-tag">${{item.price|number:0}}</span>
        </div>
    </div>
    <div class="io-item-stream-description" flex layout layout-fill layout-wrap layout-align="start center"
         ui-sref="itemview({storeurl:storeUrl,itemurl:item.item_url,tab:1})">
        <p layout layout-fill><b>{{item.title|itemDescription}}</b></p>
    </div>
</md-content>