<div class="grid-container grid s-grid s-grid--divide-3 m-grid--divide-4 l-grid--divide-7">

	<div ng-repeat="item in items" class="grid_unit"><div class="item-preview-small-grid">
		<a  ui-sref="itemview({ id: item.id })"><div id=""><img src="{{item.images[0].image_url}}" width="92" height="92"></div></a>
			<p id="grid-heart-position"><span class="heart-small" style=" background-position: -10px -8px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="grid-price-text">51</b></p>
			<p id="grid-price-position"><span class="buy-small" style=" background-size: ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="grid-price-text">{{item.price}}</b></p>
		</div>
	</div>

<h4 class="loadmore">load more...</h4>
	
</div>