.itemview {
    margin-top: 60px;
}

.itemview md-tabs {
    border: 2px solid lightgray;
    border-top: none;
}

.itemview md-card, .itemview md-content {
    background-color: transparent;
}

.itemview md-tabs .md-tab:not(.md-active) {
    background-color: darkgrey;
}

.itemview md-tabs .md-tab {
    min-width: 77px;
    padding: 0 13px;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.itemview md-tabs .md-tab:first-child {
    border-left: none;
}

.itemview md-tabs .md-active {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 0;
}

.itemview md-tabs[md-border-bottom] md-tabs-wrapper {
    border-style: none;
}

.itemview .price-tag {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
}

.itemview.item-container {
    margin-top: 0;
}

.itemview md-list .md-subheader {
    background-color: transparent;
}

.itemview md-list .md-subheader-inner {
    background-color: transparent;
    padding: 5px 20px;
}

/*Item container on feed*/
.itemfeed > .item-container {
    margin-bottom: 10px;
    width: 100%;
    max-width: 640px;
}

.itemfeed .comment .icon-message {
    vertical-align: top;
}

.itemfeed .bottom-actions {
    background-color: lightgray;
}

.itemfeed .bottom-actions .price-tag-wrapper {
    padding: 0 15px 0 15px;
}

md-card md-card-content {
    background-color: white;
}
