<div class="label-popup" layout="column" layout-align="center center">
    <div>
        <div class="btn" ng-click="printLabel()">Print</div>
        <div class="btn" ng-click="emailLabel(label.itemsell_id)">Email</div>
    </div>

    <img class="label-image" ng-src={{label.url}}>

    <h6>Shipping label attaches to this size box.</h6>

    <div layout>
        <div ng-class="{'usps-box-large':isellBox===30, 'usps-box-medium2':isellBox===20,'usps-box-small':isellBox===10}"></div>
        <div layout layout-align="center center" layout-margin>
            <p>
                <b>{{isellBox | boxSizeTitle}}</b>
                <br>
                USPS Priority Mail
                <br>
                Inside dimensions:
                <br>
                {{isellBox | boxSizeDimensions}}
            </p>
        </div>
    </div>

    <!-- Alt classes for other box sizes:

    usps-box-medium1 - <b>Medium Box 1</b><br>
    USPS Priority Mail
    <br>
    Inside dimensions:
    <br>
    11" x 8-1/2" x 5-1/2"

    -->

</div>

