   <div class="newstore-panel">
    <div ng-if="isSeller" class="stream-item-slider">
        <h3>Congratulations new store owner! Let's get you set up.</h3>
        <br>
        <h4>
        <b>Firstly: </b></h4><br>
        <h6>Enter your stores details and background image via the
            <div class="user" style=" position: absolute; margin-top: -28px; margin-left: 195px;"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; user profile.
        </h6>

        <h4><b>Secondly: </b></h4><br>
        <h6>Stock your store. Upload item photos from Instagram 
            <div class="user" style=" position: absolute; margin-top: -28px; margin-left: 195px;"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            in the user profile or via the add item button<div class="additem" style=" position: absolute; margin-top: -28px; margin-left: 150px;"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; from your phone's photo library. Add prices in the edit item tab.
        </h6>

        <h4><b>Thirdly: </b></h4><br>
        <h6>Invite your friends and customers. Link your social accounts and paste your store and item page urls to your blogs. Then answer messages as they come in, then edit details and promote your items from the tabs on your item pages. once an item sells you ill get a free shipping label and instructions to stick it on your Free USPS Flat Rate Priority Mail box that the mail man will pick up from your mail box. No weighing, no need to go to the post office.
        </h6>

        <h4><b>Forthly: </b></h4><br>
        <h6>Throw a party. Once your stores set up, put some special offers on your items and use the included promote tools to invite everyone to your sales event.
        <h6>

        <h4><b>Best of luck from the isOpen team.</b></h4><

    </div>
    <div ng-if="!isSeller" class="stream-item-slider">
        <br>
        <h6>This store has no items</h6>
        <br>
    </div>
</div>

