<div layout="column" layout-fill layout-padding class="tab-comment">
    <md-content>
        <md-list>
            <div layout layout-align="start center">
                <div class="icon-message">
                    <span class="description-small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <p><b>{{item.description|itemDescription}}</b></p>
            </div>
            <md-list-item ng-if='!seeMore' ng-repeat="comment in item.comments | limitTo:2">
                <img ng-src="{{comment.authorFacebookAvatar}}" class="md-avatar"
                     alt="{{item.userFullName!==comment.authorFullName?comment.authorFullName:item.userFullName}}"/>

                <div class="md-list-item-text" layout="column" layout-align="center start"
                     ui-sref="store({storeurl:comment.storeUrl})">
                    <h6>{{item.userFullName!==comment.authorFullName?comment.authorFullName:item.userFullName}}</h6>

                    <p>{{comment.content}}</p>
                </div>
            </md-list-item>
            <md-list-item ng-if='seeMore' ng-repeat="comment in item.comments">
                <img ng-src="{{comment.authorFacebookAvatar}}" class="md-avatar"
                     alt="{{item.userFullName!==comment.authorFullName?comment.authorFullName:item.userFullName}}"/>

                <div class="md-list-item-text" layout="column" layout-align="center start"
                     ui-sref="store({storeurl:comment.storeUrl})">
                    <h6>{{item.userFullName!==comment.authorFullName?comment.authorFullName:item.userFullName}}</h6>

                    <p>{{comment.content}}</p>
                </div>
            </md-list-item>
        </md-list>

        <div layout layout-align="end center" ng-click="seeMore = !seeMore" class="seemore-container">
            <div ng-if="item.comments.length>3" layout layout-align="end center">
                <md-button class="md-primary" ng-click="seeMore = !seeMore"
                           aria-label="{{seeMore?' less':' more'}}...">
                    <span class="md-body-1">See {{seeMore?' less':' more'}}</span>
                    <ng-md-icon icon="{{seeMore?'expand_less':'expand_more'}}"
                                style="fill: lightcoral;"></ng-md-icon>
                </md-button>
            </div>
        </div>
        <ng-form layout layout-xs="column" name="form.postForm">
            <md-input-container flex class="md-primary">
                <label>Leave comment</label>
                <input md-maxlength="256" required name="post"
                       ng-model="item.newComment"/>

                <div ng-messages="form.postForm.post.$error">
                    <div ng-message="md-maxlength">The name has to be less than 256
                        characters long.
                    </div>
                </div>
            </md-input-container>
            <div layout layout-padding layout-align="center center">
                <md-button ng-disabled="!form.postForm.$valid" class="md-primary md-raised"
                           ng-click="saveComment(item.newComment)">Post it!
                </md-button>
            </div>
        </ng-form>
    </md-content>
</div>