<md-content>
    <section layout-padding>
        <ng-form name="postForm" class="specialities">
            <md-input-container class="md-block md-primary">
                <label>Write social post</label>
                <input md-maxlength="256" required name="post"
                       ng-model="post.content"/>
                <div ng-messages="postForm.post.$error">
                    <div ng-message="md-maxlength">The name has to be less than 256
                        characters long.
                    </div>
                </div>
            </md-input-container>
        </ng-form>
    </section>
    <md-list ng-cloak>
        <md-list-item ng-click="post.facebook = !post.facebook">
            <ng-md-icon icon="facebook" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Facebook</p>
            <md-switch class="md-primary" ng-model="post.facebook"></md-switch>
        </md-list-item>
        <md-list-item ng-click="post.instagram = !post.instagram">
            <ng-md-icon icon="instagram" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Instagram</p>
            <md-switch class="md-primary" ng-model="post.instagram"></md-switch>
        </md-list-item>
        <md-list-item ng-click="post.twitter = !post.twitter">
            <ng-md-icon icon="twitter" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Twitter</p>
            <md-switch class="md-primary" ng-model="post.twitter"></md-switch>
        </md-list-item>
    </md-list>
   
    <div layout layout-align="center center"
         class="am-collapse bottom-padding">
        <md-button ng-disabled="!post.content" class="md-primary md-raised less-margin io-primary-btn"
                   ng-click="">Share item
        </md-button>
    </div>

     <section layout="column" layout-align="center center" layout-padding>
        <p>Item link</p>

        <div class="url-text">
            <h4>{{itemUrl}}</h4>
        </div>
    </section>
    
    <p style="text-align: center">Get your store in front of additional customers with these add on services.</p>

        <!-- <a href="mailto:support@isopen.us?subject=Weekly e-newsletter&body=I'm interested in your e-newsletter service. Store name: {{profile.store.store_name}} Address: {{profile.address}},{{profile.apartment ? profile.apartment + ', ' : ''}} {{profile.city}},{{profile.state}},{{profile.zipcode}}">Weekly e-newsletter</a> -->


    <md-list ng-cloak>
        <md-list-item ng-click="boost">
            <ng-md-icon icon="instagram" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">E-newsletter $12</p><md-switch class="md-primary" href="mailto:support@isopen.us?subject=Weekly e-newsletter&body=I'm interested in your e-newsletter service. Store name: {{profile.store.store_name}} Address: {{profile.address}},{{profile.apartment ? profile.apartment + ', ' : ''}} {{profile.city}},{{profile.state}},{{profile.zipcode}}"></md-switch>
        </md-list-item>

        <md-list-item ng-click="boost">
            <ng-md-icon icon="instagram" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Post boosting $10</p>
            <md-switch class="md-primary" href="mailto:support@isopen.us?subject=Weekly e-newsletter&body=I'm interested in your e-newsletter service. Store name: {{profile.store.store_name}} Address: {{profile.address}},{{profile.apartment ? profile.apartment + ', ' : ''}} {{profile.city}},{{profile.state}},{{profile.zipcode}}"></md-switch>
        </md-list-item>

        <md-list-item ng-click="boost">
            <ng-md-icon icon="instagram" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Blog write ups $70</p>
            <md-switch class="md-primary" href="mailto:support@isopen.us?subject=Weekly e-newsletter&body=I'm interested in your e-newsletter service. Store name: {{profile.store.store_name}} Address: {{profile.address}},{{profile.apartment ? profile.apartment + ', ' : ''}} {{profile.city}},{{profile.state}},{{profile.zipcode}}"></md-switch>
        </md-list-item>
    </md-list>

        <div layout layout-align="center center"
         class="am-collapse bottom-padding">
        <md-button ng-disabled="!boost" class="md-primary md-raised less-margin io-primary-btn"
                   ng-click="">Request more info
        </md-button>
               
</md-content>

            