<div class="rowfree tab-comment">
    <div class="reveal1 item-transaction-section unhidden">
        <table class="comment">
            <tr>
                <td class="icon-message">
                    <span class="description-small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td>
                    <p>
                        <b class="seller-name-text">{{item.userFullName}}</b>
                        {{item.description|itemDescription}}
                    </p>
                </td>
            </tr>
            <tr ng-if='!seeMore' ng-repeat="comment in item.comments | limitTo:2">
                <td class="icon-message">
                    <span ng-class="item.userFullName==comment.authorFullName?'seller-message-small':'buyer-message-small'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>
                <td>
                    <p>
                        <b ng-class="item.userFullName==comment.authorFullName?'seller-name-text':'buyer-name-text'">{{comment.authorFullName}}</b>
                        {{comment.content}}
                    </p>
                </td>
            </tr>
            <tr ng-if='seeMore' ng-repeat="comment in item.comments">
                <td class="icon-message">
                    <span ng-class="item.userFullName==comment.authorFullName?'seller-message-small':'buyer-message-small'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>
                <td>
                    <p>
                        <b ng-class="item.userFullName==comment.authorFullName?'seller-name-text':'buyer-name-text'">{{comment.authorFullName}}</b>
                        {{comment.content}}
                    </p>
                </td>
            </tr>
        </table>
        <div class="leavecomment" style=" margin: 10px 0 10px 10px; ">
            <a style="color: #4c87f1; text-decoration: none !important;" ng-click="leaveComment = !leaveComment">Leave comment</a>
        </div>

        <div class="seemorecontainer">
            <div class="seemore" style=" margin: -28px 8px 4px -10px; text-align: right;">
                <span ng-click="seeMore = !seeMore">See {{seeMore?' less':' more'}}...</span>
            </div>
        </div>

        <div ng-if="leaveComment" class="leavecomment-container">
            <input ng-model="item.newComment">
            <div class="but sml" ng-click="saveComment(item.newComment)">Post</div>
        </div>
    </div>
</div>