<div ng-controller="ItemLocation" ng-if="store.show_store_location>0" class="location-tab-content">
    <h5 layout="column" layout-align="center center">
        <b>Store location</b>
        <span>{{store.address}}</span>
    </h5>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' height="200" style="height: 200px;">
        <ui-gmap-marker coords="staticMarker.coords" options="staticMarker.options" events="staticMarker.events"
                        idKey="staticMarker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
<div ng-if="store.show_store_location<1">
    <div ng-if="store.show_store_location<1">
        <h5 layout="column" layout-align="center center">
            <b>Store location</b>
            <br>
            {{city}}
        </h5>
    </div>
</div>
