<md-content>
    <section layout-padding>
        <ng-form name="postForm" class="specialities">
            <md-input-container class="md-block">
                <label>Write social post</label>
                <input md-maxlength="256" required name="post"
                       ng-model="post.content"/>
                <!--<div class="hint">Tell us what we should call you!</div>-->
                <div ng-messages="postForm.post.$error">
                    <div ng-message="md-maxlength">The name has to be less than 256
                        characters long.
                    </div>
                </div>
            </md-input-container>
        </ng-form>
    </section>
    <md-list ng-cloak>
        <md-list-item ng-click="post.facebook = !post.facebook">
            <ng-md-icon icon="facebook" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Facebook</p>
            <md-switch ng-model="post.facebook"></md-switch>
        </md-list-item>
        <md-list-item ng-click="post.instagram = !post.instagram">
            <ng-md-icon icon="instagram" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Instagram</p>
            <md-switch ng-model="post.instagram"></md-switch>
        </md-list-item>
        <md-list-item ng-click="post.twitter = !post.twitter">
            <ng-md-icon icon="twitter" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Twitter</p>
            <md-switch ng-model="post.twitter"></md-switch>
        </md-list-item>
    </md-list>
    <section layout="column" layout-align="center center" layout-padding>
        <p>Item link</p>

        <div class="url-text">
            <h4>{{itemUrl}}</h4>
        </div>
    </section>
    <div layout layout-align="center center"
         class="am-collapse">
        <md-button ng-disabled="!post.content" class="md-accent md-raised md-hue-1 io-primary-btn"
                   ng-click="">Share item
        </md-button>
    </div>
    <br>
</md-content>

            