<div layout="column" layout="center center" class="itemview">
    <div class="itemview-stream-item-pic">
        <div ng-if="showHearts" class="rowfree">
            <div class="heartoverimage2 heart-reveal-large"></div>
        </div>
        <ul style="height:{{sliderImageHeight}}px;" rn-carousel rn-carousel-buffered rn-carousel-indicator
            rn-carousel-controls
            rn-carousel-index="carouselIndex" class="my-slider">
            <li ng-repeat="image in item.images">
                <div toggleimageheight carind="{{carouselIndex}}" ng-if="image.image_url" class="resizable-image"
                     ng-style="{'background-image': 'url(' + image.image_url + ')'};">
                    <img ng-src="{{image.image_url}}" style="visibility:hidden" width="310"/>
                </div>
            </li>
        </ul>
        <div rn-carousel-indicators ng-if="item.images.length > 1" slides="item.images"
             rn-carousel-index="carouselIndex"></div>
    </div>
    <md-content layout layout-align="center center" ng-controller="ItemViewTabsCtrl">
        <md-tabs ng-if="!isYourStore || (isYourStore && !isSeller)" md-center-tabs md-no-pagination md-stretch-tabs="always" md-no-ink-bar
                 md-dynamic-height md-border-bottom
                 md-selected="$stateParams.tab">
            <md-tab>
                <md-tab-label>
                    <div class="buyer-message-circle"></div>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/components/item/view-tab-comment.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="isGuest?login():''">
                <md-tab-label>
                    <div ng-if="!item.price" class="buy-circle"></div>
                    <span class="price-tag">${{item.price | itemPrice}}</span>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/components/item/view-tab-buy.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="likeItem()">
                <md-tab-label>
                    <div class="heart-circle"></div>
                </md-tab-label>
                <md-tab-body>
                    <div layout="column" style="height: 20px;"></div>
                    <table class="prev-customers">
                        <tr>
                            <td>
                                <a ng-repeat="isell in item.customers | unique:'buyer.id' | limitTo: 5"><img
                                        class="buyer-profile-transaction" ng-src="{{isell.buyer.avatar_url}}"
                                        ng-click="goToStoreProfile(isell.buyer.store.store_url)"></a>
                            </td>
                        </tr>
                    </table>
                    <div layout="column" style="height: 20px;"></div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <div class="location-circle"></div>
                </md-tab-label>
                <md-tab-body>
                    <div ng-if="renderMap" ng-include="'app/components/item/view-tab-location.html'"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        <md-tabs ng-if="isYourStore && isSeller" md-center-tabs md-no-pagination md-stretch-tabs="always" md-no-ink-bar
                 md-dynamic-height md-border-bottom md-selected="$stateParams.tab">
            <md-tab md-on-select="changeStateAndUrlToTab('0');goToBottom()">
                <md-tab-label>
                    <div class="message-circle"></div>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/components/item/view-tab-comment.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="changeStateAndUrlToTab('1')">
                <md-tab-label>
                    <div ng-if="!item.price" class="buy-circle"></div>
                    <span class="price-tag">${{item.price | itemPrice}}</span>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/components/item/view-tab-log.html'"></div>
                </md-tab-body>
            </md-tab >
            <md-tab md-on-select="changeStateAndUrlToTab('2');goToBottom()">
                <md-tab-label>
                    <div class="promote-circle"></div>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/components/item/view-tab-social.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab md-on-select="changeStateAndUrlToTab('3');goToBottom()">
                <md-tab-label>
                    <div class="edit-circle"></div>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'app/components/item/view-tab-edit.html'"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        <div id="mainView" style="clear:both;"></div>
    </md-content>
</div>
<div id="bottom"></div>