<md-content>
    <section layout-padding>
        <ng-form name="postForm" class="specialities">
            <md-input-container class="md-block md-primary">
                <label>Write social post</label>
                <input md-maxlength="256" required name="post"
                       ng-model="post.content"/>

                <div ng-messages="postForm.post.$error">
                    <div ng-message="md-maxlength">The name has to be less than 256
                        characters long.
                    </div>
                </div>
            </md-input-container>
        </ng-form>
    </section>
    <md-list ng-cloak class="share-list">
        <md-list-item>
            <ng-md-icon icon="facebook" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Facebook</p>
            <md-switch class="md-primary" ng-model="item.facebook_sharing_enabled" ng-change="save()"></md-switch>
        </md-list-item>
        <md-list-item id="popup-anchor">
            <ng-md-icon icon="instagram" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Instagram</p>
            <md-switch class="md-primary" ng-model="item.instagram_sharing_enabled"
                       ng-change="saveInstagramEnabled()"></md-switch>
        </md-list-item>
        <md-list-item>
            <ng-md-icon icon="pinterest" style="fill:darkgray"></ng-md-icon>
            <p style="color:darkgray; font-size: 100% !important;">Pinterest</p>
            <md-switch class="md-primary" ng-model="item.pinterest_sharing_enabled"
                       ng-change="savePinterestEnabled()"></md-switch>
        </md-list-item>
    </md-list>

    <div layout layout-align="center center">
        <md-button ng-disabled="!post.content" class="md-primary md-raised less-margin io-primary-btn"
                   ng-click="postSocial()">Share item
        </md-button>
    </div>

    <!--<div layout layout-align="center center">-->
    <!--<p class="text-align-center" layout layout-margin>-->
    <!--Share item via SMS-->
    <!--</p>-->
    <!--</div>-->

    <!--<div layout layout-padding>-->
    <!--<md-input-container flex>-->
    <!--<label>Phone number</label>-->
    <!--<input ng-model="phone">-->
    <!--</md-input-container>-->
    <!--<div class="md-button md-primary md-raised io-primary-btn">-->
    <!--<a ng-href="sms:{{phone}}" style="width:100%; color: white;">Send</a>-->
    <!--</div>-->
    <!--</div>-->

    <section layout="column" layout-align="center center" layout-padding>
        <p>Item link</p>

        <div class="url-text share-url">
            <h4>{{itemUrl}}</h4>
        </div>
    </section>

    <div layout="column" layout-align="center center" layout-padding class="share-custom-services">
        <p class="text-align-center" layout layout-margin>
            Expand your stores audience with these recurring services.
        </p>
        <!--Have to keep it because of bug on mobile safari-->
        <div hide-gt-xs>
            <br>
            <br>
            <br>
        </div>
        <md-button layout-fill
                   href="mailto:support@isopen.us?subject=Weekly e-newsletter&body=I'm interested in your e-newsletter service. Store name: {{profile.store.store_name}} Address: {{profile.address}},{{profile.apartment ? profile.apartment + ', ' : ''}} {{profile.city}},{{profile.state}},{{profile.zipcode}}">
            <h6>Weekly e-newsletter $12</h6>
        </md-button>
        <md-button layout-fill
                   href="mailto:support@isopen.us?subject=Social post boosting&body=I'm interested in your Social post boosting service. Store name: {{profile.store.store_name}} Address: {{profile.address}},{{profile.apartment ? profile.apartment + ', ' : ''}} {{profile.city}},{{profile.state}},{{profile.zipcode}}">
            <h6>Social post boosting $24</h6>
        </md-button>
        <md-button layout-fill
                   href="mailto:support@isopen.us?subject=Independent blog write up&body=I'm interested in your e-newsletter service. Store name: {{profile.store.store_name}} Address: {{profile.address}},{{profile.apartment ? profile.apartment + ', ' : ''}} {{profile.city}},{{profile.state}},{{profile.zipcode}}">
            <h6>Independent blog write up $120</h6>
        </md-button>
    </div>
</md-content>

            