<div class="rowfree sell-transactions">
    <div class="item-transaction-section">
        <p style="text-align: left; margin: 10px 0 0 100px;">2 items sold 3 left</p>
        <br>

        <div class="current-transaction" ui-tree data-drag-enabled="false">
            <ol ui-tree-nodes="" ng-model="item.itemSells">
                <li ng-repeat="isell in item.itemSells" ui-tree-node collapsed="true">
                    <div ng-click="toggle(this)" ui-tree-handle class="first-transaction">
                        <div class="left">
                            <a class="hideLink arrow-position">&nbsp;</a>
                        </div>
                        <div class="right">
                            <div>{{isell.itemSellTransactions[isell.itemSellTransactions.length-1].status |
                                itemTransactionStatus}}
                            </div>
                            <img class="profile-in-transaciton"
                                 ng-src="{{isell.buyer.avatar_url}}">
                        </div>
                    </div>
                    <ol ui-tree-nodes="" ng-model="isell.itemSellTransactions" ng-class="{hidden: collapsed}">
                        <li ng-repeat="subIsell in isell.itemSellTransactions  | orderBy:'-created_at'" ui-tree-node
                            data-collapsed>
                            <div ng-click="toggle(this)" class="transaction-section-container past-transaction"
                                 ui-tree-handle>
                                <div class="left">
                                    <a class="hideLink arrow-position">&nbsp;</a>
                                </div>
                                <div class="right">
                                    {{subIsell.status | itemTransactionStatus}} {{subIsell.created_at | amCalendar}}
                                    <div ng-class="{hidden: collapsed}">
                                        <div ng-if="subIsell.status==0 && isell.itemSellTransactions[isell.itemSellTransactions.length-1].status==0">
                                            <div class="btn" ng-click="confirmItem(isell.id, true)">Accept</div>
                                            <div class="btn" ng-click="confirmItem(isell.id)">Decline</div>
                                        </div>
                                        <div ng-if="subIsell.status==0 && isell.itemSellTransactions[isell.itemSellTransactions.length-1].status==20">
                                            <h2>Item placed in Medium size box</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>
