<div class="account-outer">
    <div class="middle">
        <div class="inner">
            <div class="copyurl-container">
                <input ng-disabled="true" ng-if="seller" class="regular-field" type="text" ng-model="store_url" placeholder="Store URL">
                <button class="btn" clip-copy="getTextToCopy()" clip-click="alertCopy()">Copy!</button>
            </div>
            <div id="item-circles">
                <ul>
                    <li ng-repeat="item in store.items| limitTo:3">
                        <a ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:1})">
                            <div class="item-circle-1" style="background-image:url({{item.images[0].image_url}})"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="text-container">
    <h3>{{store.description}}</h3>
    <h5>{{store.specialities}}</h5>
</div>