<div class="account-outer">
    <div class="middle">
        <div class="inner">
            <div id="item-circles">
                <ul>
                    <li ng-repeat="item in items| limitTo:3">
                        <a ui-sref="itemview({id:item.id})">
                            <div class="item-circle-1"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="text-container">
    <h3>Silverlake’s original clothing boutique. Look good from head to toe, make overs available.</h3>
    <h5>Opened in 1997 My boutique has been serving the silverlake community for longer than there was a community.</h5>
</div>