<div class="account-outer">
    <div class="middle">
        <div class="inner">
            <div id="item-circles">
                <ul>
                    <li><a href="buyer-item.html"><div class="fast-tap item-circle-1"></div></a></li>
                    <li><a href="buyer-item.html"><div class="fast-tap item-circle-2"></div></a></li>
                    <li><a href="buyer-item.html"><div class="fast-tap item-circle-3"></div></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="text-container">
    <h3>Silverlake’s original clothing boutique. Look good from head to toe, make overs available.</h3>
    <h5>Opened in 1997 My boutique has been serving the silverlake community for longer than there was a community.</h5>
</div>