<div id="md-table-template">
    <table md-colresize="md-colresize" class="md-table">
        <thead>
        <tr class="md-table-headers-row">
            <th ng-repeat="h in headers" class="md-table-header">
                <a href="#" ng-if="handleSort(h.field)"
                   ng-click="reverse=!reverse;order(h.field,reverse)">
                    {{h.name}}
                    <ng-md-icon ng-show="!reverse && h.field == predicate"
                                icon="keyboard_arrow_down"
                                size="16"
                                style="fill: #545052">
                    </ng-md-icon>
                    <ng-md-icon ng-show="reverse && h.field == predicate"
                                icon="keyboard_arrow_up"
                                size="16"
                                style="fill: #545052">
                    </ng-md-icon>
                </a>
                <span
                    ng-if="!handleSort(h.field)">{{h.name}}
                </span>
            </th>
            <th class="md-table-header">Accept</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in content | filter:filters | startFrom:tablePage*count | limitTo: count"
            class="md-table-content-row">
            <td>
                <div ng-repeat="h in headers" ng-if="h.field == thumbs" class="md-table-thumbs">
                    <div style="background-image:url({{c.image_url}})"></div>
                </div>
            </td>
            <td ng-repeat="h in headers" ng-class="customClass[h.field]" ng-if="h.field != thumbs"
                class="md-table-content">
                {{(h.field.indexOf('status') > 0)
                ? $filter('itemTransactionStatus')(c[h.field])
                : ((h.field.indexOf('created_at') > 0) ? $filter('amCalendar')(c[h.field]) : c[h.field]);}}
            </td>
            <td class="md-table-td-more">
                <md-checkbox md-no-ink aria-label="Accept" ng-model="data.accept" class="md-primary">
                </md-checkbox>
                <!--<md-button class="io-accept" aria-label="Info">-->
                <!--    <ng-md-icon icon="check"-->
                <!--                size="16"-->
                <!--                style="fill: #15A025">-->
                <!--    </ng-md-icon>-->
                <!---->
                <!--</md-button>-->
            </td>
        </tr>
        </tbody>
    </table>
    <div layout="row" layout-fill class="md-table-footer">
        <!--<span class="md-table-count-info">Rows per page : <a href="#"-->
        <!--                                                     ng-click="goToPage(0); count=10">10</a>,<a-->
        <!--        href="#" ng-click="goToPage(0); count=25">25</a>,<a href="#" ng-click="goToPage(0); count=50">50</a>,<a-->
        <!--        href="#" ng-click="goToPage(0); count=100">100</a>(current is {{count}})</span><span-->
        <!--    flex="flex">-->
        <!--</span>-->

        <span flex layout="row" class="btn-pagination" ng-show="nbOfPages() > 1">
            <md-button flex ng-disabled="tablePage==0" icon="keyboard_arrow_left" ng-click="tablePage=tablePage-1"
                       aria-label="Previous Page"
                       class="md-primary">
                <ng-md-icon icon="keyboard_arrow_left"
                            size="24"
                            style="fill: #545052">
                </ng-md-icon>
            </md-button>
            <a flex href="#" ng-repeat="i in getNumber(nbOfPages()) track by $index">
                <md-button ng-click="goToPage($index)" class="md-primary md-table-footer-item"><span
                        ng-class="{ 'md-table-active-page': tablePage==$index}">{{$index+1}}</span></md-button>
            </a>
            <md-button flex ng-disabled="tablePage==nbOfPages()-1" ng-click="tablePage=tablePage+1"
                       aria-label="Next Page" class="md-primary">
                <ng-md-icon icon="keyboard_arrow_right"
                            size="24"
                            style="fill: #545052">
                </ng-md-icon>
            </md-button>
        </span>
    </div>
</div>