<md-dialog aria-label="Stores Items" class="store-item" ng-cloak>
  <form>
    
    <div layout="row">
      <h4 flex class="dialog-header">Here are some recommended stores to follow</h4>
      <md-button ng-click="vm.hide()"
                 class="md-fab md-mini md-primary io-secondary-btn dialog-close-btn"
                 aria-label="Close Dialog">
        <ng-md-icon icon="close" class="secondary"></ng-md-icon>
      </md-button>
    </div>
    
    <md-dialog-content>
      <!--<div layout="row" layout-align="space-around center">-->
      <!--  <img ng-repeat="item in items"-->
      <!--       ui-sref="itemview({storeurl:store.store_url,itemurl:item.item_url,tab:1})"-->
      <!--       ng-src="{{item.coverImage}}" class="md-card-image" alt="Washed Out">-->
      <!--</div>-->
      <div layout layout-wrap layout-padding>
        <div ng-repeat="store in vm.subsOther track by $index"
             layout-align="center center" layout="column"
             flex="33"
             class="block-store-follow">
          <div layout="column" layout-align="center center" ui-sref="grid({storeurl:store.store_url, mode:'feed'})">
            <img class="profile store-avatar-followin" ng-src="{{store.avatar_url}}"/>
            <span class="sub_store_name io-truncate">{{store.store_name}}</span>
          </div>
        </div>
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="column">
      <md-button ng-click="vm.hide()" class="flat-btn" md-autofocus>
        Done
      </md-button>
    </md-dialog-actions>
    
  </form>
</md-dialog>