<div ng-show="transaction.last_status == IT_STATUS.label"
    class="btn centered btn-label sml" ng-click="getLabel()">
    View Label
</div>

<div ng-show="transaction.last_status >= IT_STATUS.send && transaction.last_status < IT_STATUS.saleCanceled" class="btn btn-buy centered btn-label sml"
     ng-click="getLabel()">
    Get Label
</div>

<div ng-show="transaction.last_status == IT_STATUS.sold" class="column label">
    <select ng-model="boxSize"
            ng-change="changeItemStatus(boxSize)"
            class="sml">
        <option disabled value="">Pick up box size</option>
        <option value="30">Large</option>
        <option value="20">Medium</option>
        <option value="10">Small</option>
    </select>
</div>