<md-dialog aria-label="Welcome" class="store-item" ng-cloak>
    <form>

        <div layout="row">
            <h4 flex class="dialog-header top">Now post your first item for sale.</h4>
            <md-button ng-click="vm.hide()"
                       class="md-fab md-mini md-primary io-secondary-btn dialog-close-btn"
                       aria-label="Close Dialog">
                <ng-md-icon icon="close" class="secondary"></ng-md-icon>
            </md-button>
        </div>

        <md-dialog-content>
            <div class="additem"></div>
        </md-dialog-content>

        <md-dialog-actions layout="column">
            <md-button ng-if="!vm.selectedItem.length" ng-click="vm.hide()" class="flat-btn" md-autofocus>
                Done
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>