.sub_store_name {
    max-width: 130px;
    font-size: 14px;
    margin-top: 8px;
}

.store_avatar {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: .7;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    transform: translateZ(0);
}

.store-avatar-followin {
    border: 0;
    min-width: 90px;
    height: 90px;
    opacity: .8;
}

.store-avatar-followin.selected {
    border: 2px solid lightcoral;
    opacity: 1;
}

.block-store-follow {
}

.block-store-follow-btn {
    opacity: 0;
    font-size: 12px;
    min-height: 25px !important;
}

.block-store-follow:hover .block-store-follow-btn {
    opacity: 1;
}

.io-btn-follow {
    min-height: 31px;
    margin-top: 8px;
    float: right;
    line-height: initial;
    border: 1px solid lightcoral;
    background-color: lightcoral !important;
    color: white;
}

.io-btn-follow:hover {

}

.io-btn-unfollow {
    background-color: white !important;
    color: lightcoral;
}

.sub_category {
    text-align: left;
    color: #222;
    background-color: rgba(252, 252, 252, 0.7);
    padding: 6px;
    font-size: 14px;
}

.io-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.search-store {
    min-width: 100%;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    left: 0 !important;
}

.md-scroll-mask {
    display: none;
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: none;
}

md-autocomplete {
    border-radius: 0;
}

.dialog-item-preview {
    box-shadow: none;
    cursor: pointer;
}

img.md-card-image {
    border-radius: 50%;
    width: 100px;
    min-height: 100px;
    max-height: 100px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.dialog-close-btn {
    margin: 5px !important;
    position: absolute;
    right: 0;
}

.store-item md-dialog-actions {
    padding: 0 !important;
}

md-dialog.md-dialog-fullscreen.store-item {
    min-height: 0 !important;
    position: fixed;
    left: 0;
}

.flat-btn {
    width: 100%;
    margin: 0 !important;
    padding: 5px;
    border: 0;
}

.store-avatar-block {
    position: relative;
}

.store-avatar-block:hover .store-avatar-followin-selected {
    transform: scale(1);
    opacity: 1;
}

.store-avatar-followin-selected {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    opacity: 0;
    z-index: 1000;
    top: 0;
    cursor: pointer;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.store-avatar-block.selected .store-avatar-followin-selected {
    background: rgba(240, 128, 128, 0.6);
    transform: scale(1);
    opacity: 1;
}

.store-avatar-block.selected .store-avatar-followin {
    opacity: 1;
}

.store-avatar-icon-done {
    position: absolute;
    left: 34px;
    top: 34px;
}