<div class="subscribtion-main">
    <div ng-if="vm.subs.length">
        <h4 class="sub_category">Following</h4>
        <div layout layout-wrap layout-padding >
            <div ng-repeat="sub in vm.subs track by $index"
                 layout-align="center center" layout="column"
                 flex-xs="33" flex-sm="15" flex-md="15" flex="5"
                 class="block-store-follow">
                <div layout="column" layout-align="center center" store-item-sheet store-model="sub.store">
                    <img class="profile store-avatar-followin" ng-src="{{sub.store.avatar_url}}"/>
                    <span class="sub_store_name io-truncate">{{sub.store.store_name}}</span>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.subsRecommended.length">
        <h4 class="sub_category">Recommended</h4>
        <div layout layout-wrap layout-padding>
            <div ng-repeat="store in vm.subsRecommended track by $index"
                 layout-align="center center" layout="column"
                 flex-xs="33" flex-sm="15" flex-md="15" flex="5"
                 class="block-store-follow">
                <div layout="column" layout-align="center center" store-item-sheet store-model="sub.store">
                    <img class="profile store-avatar-followin" ng-src="{{store.avatar_url}}"/>
                    <span class="sub_store_name io-truncate">{{store.store_name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

