<div class="transaction" ng-controller="TransactionCtrl">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="All">
                    <md-content>
                        <io-table content="content"
                                  search-label="Search"
                                  headers="headers"
                                  sortable="sortable">
                        </io-table>
                    </md-content>
                </md-tab>
                <md-tab label="two">
                    <md-content>
                        <io-table content="content"
                                  headers="headers"
                                  sortable="sortable">
                        </io-table>
                    </md-content>
                </md-tab>
                <md-tab label="something">
                    <md-content>
                        <io-table content="content"
                                  headers="headers"
                                  sortable="sortable">
                        </io-table>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>


