<div class="transaction" layout="column" flex-sm="100" flex-gt-sm="60" flex-offset-gt-sm="20">
    <div ng-cloak>
        <md-content>
            <md-tabs md-border-bottom md-swipe-content>
                <md-tab label="Selling" ng-if="vm.isSeller" md-on-select="vm.selectTab('seller')">
                    <md-content>
                        <p ng-hide="!!vm.seller.length" class="transaction-dont-have">No data</p>
                        <io-table ng-show="!!vm.seller.length"
                                  content="vm.seller"
                                  headers="vm.headers"
                                  sortable="vm.sortable">
                            <p ng-hide="vm.seller" class="loading">Please wait. Loading</p>
                        </io-table>
                    </md-content>
                </md-tab>
                <md-tab label="Buying" md-on-select="vm.selectTab('buyer')">
                    <md-content>
                        <div ng-hide="!!vm.buyer.length" layout="column" layout-align="center center" layout-fill class="transaction-dont-have">No data</div>
                        <io-table ng-show="!!vm.buyer.length"
                                  content="vm.buyer"
                                  headers="vm.headers"
                                  sortable="vm.sortable">
                            <p ng-hide="vm.buyer" class="loading">Please wait. Loading</p>
                        </io-table>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>


