<div class="transaction">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Active">
                    <md-content>
                        <io-table ng-show="vm.active"
                                  content="vm.active"
                                  headers="vm.headers"
                                  sortable="vm.sortable">
                            <p ng-hide="vm.active" class="loading">Please wait. Loading</p>
                        </io-table>
                    </md-content>
                </md-tab>
                <md-tab label="Archive">
                    <md-content>
                        <io-table ng-show="vm.archive"
                                  content="vm.archive"
                                  headers="vm.headers"
                                  sortable="vm.sortable">
                            <p ng-hide="vm.archive" class="loading">Please wait. Loading</p>
                        </io-table>
                    </md-content>
                </md-tab>
                <md-tab label="All">
                    <md-content>
                        <io-table ng-show="vm.all"
                                  content="vm.all"
                                  headers="vm.headers"
                                  sortable="vm.sortable">
                            <p ng-hide="vm.all" class="loading">Please wait. Loading</p>
                        </io-table>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>


