.transaction {
    /*padding-top: 51px;*/
    /*padding-bottom: 49px;*/
    background: #E2E2E2;
}

.transaction

.transaction button {
    min-width: 0;
    margin: 0;
}

.transaction a {
    text-decoration: none;
    text-align: center;
}

.transaction a:hover {
    text-decoration: none;
}

.transaction i {
    vertical-align: middle;
    font-size: 24px;
}

.transaction input, .transaction .input {
    box-shadow: none;
}

.transaction .main-fab {
    position: absolute;
    z-index: 20;
    font-size: 30px;
    top: 100px;
    left: 24px;
    transform: scale(0.88, 0.88);
}

.transaction .md-breadcrumb {
    padding-left: 88px;
}

.transaction .JCLRgrip:first-child {
    left: 105px !important;
    display: none !important;
}

.transaction .JColResizer th:first-child {
    width: 105px !important;
}

.transaction .md-table {
    min-width: 100%;
    border-collapse: collapse;
}

.transaction .md-table tbody tr:hover,
.transaction .md-table tbody tr:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.transaction tr {
    height: calc((100vh - 222px) / 10);
    border-bottom: 1px solid #bbb;
}

.transaction .md-table-header {
    border-bottom: 2px solid #bbb;
    color: #828282;
    text-align: left;
    font-size: 0.75em;
    font-weight: 700;
    padding: 16px;
}

.transaction .md-table-header a {
    text-decoration: none;
    color: inherit;
}

.transaction .md-table-content {
    white-space: nowrap;
    font-size: 0.7em;
    padding: 16px;
}

.transaction .md-table-td-more {
    width: 72px;
    padding: 10px;
    text-align: center;
}

.transaction .md-table-thumbs {
    padding: 0 16px;
    text-align: right;
}

.transaction .md-table-thumbs div {
    overflow: hidden;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-size: cover;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.transaction .md-table-td-action {
    text-align: center;
    width: 100px;
}

.transaction .md-table-td-action select {
    height: 30px;
    width: 100px;
}

.transaction .md-table-footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    min-height: 20px;
    background-color: #E2E2E2;
    border-top: 1px solid #B9B9B9;
}

.transaction .md-table-footer button[disabled="disabled"] ng-md-icon {
    fill: #ABABAB !important;
}

.transaction .md-table-count-info {
    line-height: 40px;
    font-size: .75em;
}

.transaction .md-table-footer-item {
    vertical-align: middle;
}

.transaction .md-table-active-page {
    font-weight: 700;
}

.transaction .btn-pagination button {
    border-radius: 0;
}

.transaction .btn-pagination button::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FF4081;
    transition: transform .5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
}

.transaction .btn-pagination button.md-table-active-page-btn::before {
   transform: scale(1);
}

.transaction .bold {
    font-weight: 700;
}

.transaction .grey {
    color: grey;
}

.transaction md-input-container .md-input {
    color: white;
    border-color: white;
    margin-top: 40px;
}

.transaction .md-toolbar-tools .md-toolbar-item span {
    color: white !important;
}

.transaction md-content {
    overflow: hidden;
}

.transaction .btn-pagination button {
    min-width: 0;
    margin: 0;
}

.transaction md-toolbar.md-tall {
    height: initial;
    min-height: initial;
    max-height: 128px;
}

.transaction md-checkbox {
    margin-bottom: 0;
}

.transaction td.md-table-content:nth-child(2) {
    text-align: left;
}

.transaction th.md-table-header:nth-child(2) {
    text-align: left;
}

.transaction md-content.md-default-theme,
.transaction md-content {
    background-color: rgba(222, 222, 222, 0.5);
}

.transaction .loading {
    text-align: center;
    font-size: 13px !important;
    color: #333;
}

.transaction .sml {
    margin: 0;
    padding: 5px 0 5px 0;
}

.transaction .transaction-dont-have {
    text-align: center;
    color: #333;
    margin-top: 10%;
    font-size: 16px;
    text-transform: uppercase;
}

.transaction md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: calc(100vh - 51px);
}

.transaction .transaction-table {
    /*margin-bottom: 49px;*/
}

.transaction td-md-table-thumbs {
    padding-right: 10px;
}

.transaction .transaction-tab-content {
    background: transparent;
}

@media screen and (max-width: 300px) {
    .transaction table th:nth-child(2) {
        display: none;
    }

    .transaction table td:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .transaction table th:nth-child(4) {
        display: none;
    }

    .transaction table td:nth-child(4) {
        display: none;
    }
}