.transaction {
    margin-top: 52px;
}

.transaction button {
    min-width: 0;
    margin: 0;
}

.transaction a {
    text-decoration: none;
    text-align: center;
}

.transaction a:hover {
    text-decoration: none;
}

.transaction i {
    vertical-align: middle;
    font-size: 24px;
}

.transaction input, .transaction .input {
    box-shadow: none;
}

.transaction .main-fab {
    position: absolute;
    z-index: 20;
    font-size: 30px;
    top: 100px;
    left: 24px;
    transform: scale(0.88, 0.88);
}

.transaction .md-breadcrumb {
    padding-left: 88px;
}

.transaction .JCLRgrip:first-child {
    left: 105px !important;
    display: none !important;
}

.transaction .JColResizer th:first-child {
    width: 105px !important;
}

.transaction .md-table {
    min-width: 100%;
    border-collapse: collapse;
}

.transaction .md-table tbody tr:hover,
.transaction .md-table tbody tr:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.transaction tr {
    border-bottom: 1px solid #bbb;
}

.transaction .md-table-header {
    border-bottom: 2px solid #bbb;
    color: #828282;
    text-align: left;
    font-size: 0.75em;
    font-weight: 700;
    padding: 16px;
}

.transaction .md-table-header a {
    text-decoration: none;
    color: inherit;
}

.transaction .md-table-content {
    white-space: nowrap;
    font-size: 0.7em;
    padding: 16px;
}

.transaction .md-table-td-more {
    width: 72px;
    padding: 10px;
    text-align: center;
}

.transaction .md-table-thumbs {
    padding: 0 16px;
    text-align: right;
}

.transaction .md-table-thumbs div {
    overflow: hidden;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-size: cover;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.transaction .md-table-td-action {
    width: 140px;
    text-align: center;
}

.transaction .md-table-td-action select {
    height: 30px;
}

.transaction .md-table-footer {
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.transaction .md-table-count-info {
    line-height: 40px;
    font-size: .75em;
}

.transaction .md-table-footer-item {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.transaction .md-table-active-page {
    font-weight: 700;
}

.transaction .bold {
    font-weight: 700;
}

.transaction .grey {
    color: grey;
}

.transaction md-input-container .md-input {
    color: white;
    border-color: white;
    margin-top: 40px;
}

.transaction .md-toolbar-tools .md-toolbar-item span {
    color: white !important;
}

.transaction md-content {
    overflow: hidden;
}

.transaction .btn-pagination button {
    min-width: 0;
    margin: 0;
}

.transaction md-toolbar.md-tall {
    height: initial;
    min-height: initial;
    max-height: 128px;
}

.transaction ng-md-icon {
    height: 18px;
}

.transaction md-checkbox {
    margin-bottom: 0;
}

.transaction td.md-table-content:nth-child(2) {
    text-align: left;
}

.transaction th.md-table-header:nth-child(2) {
    text-align: left;
}

.transaction md-content.md-default-theme,
.transaction md-content {
    background-color: rgba(222, 222, 222, 0.5);
}

.transaction .loading {
    text-align: center;
    font-size: 13px !important;
    color: #333;
}

.transaction .sml {
    margin: 0;
}

@media screen and (max-width: 300px) {
    .transaction table th:nth-child(2) {
        display: none;
    }

    .transaction table td:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .transaction table th:nth-child(4) {
        display: none;
    }

    .transaction table td:nth-child(4) {
        display: none;
    }
}