/*Profile tree starts*/

.profile-tree .top-transaction {
    background-color: rgba(222, 222, 222, 0.5);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    font-size: 110%;
}

.profile-tree .main-title {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-tree .angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 0;
}

.profile-section h4 {
    vertical-align: middle;
    font-weight: 600;
}

.profile-tree .profile-header {
    width: 80%;
    font-size: 12pt;
    font-weight: 400;
}

.profile-tree .profile-store-icon {
    padding: 10px 6px 3px 6px
}

.profile-tree input {
    box-shadow: none;
}

.profile-tree .right-corner-btn {
    position: absolute;
    right: 0;
    background-color: lightcoral;
}

.profile-tree .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: gray;
}

.profile-tree .hint.ng-hide,
.profile-tree .hint.ng-enter,
.profile-tree .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.profile-tree .hint.ng-leave,
.profile-tree .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

.profile-tree .crop-area {
    height: 300px;
}

.profile-area .crop-area choose-file-button {
    position: absolute;
    right: 30px;
}

.profile-area md-button {
    background-color: lightcoral;
}

.profile-tree .md-errors-spacer {
    display: none;
}

.profile-tree md-input-container {
    margin: 5px 0 5px 0;
}

@media (min-width: 0) and (max-width: 600px) {
    .profile-tree md-input-container {
        padding-bottom: 0;
        margin: 0 0 0 0;
    }

    .profile-tree .specialities md-input-container {
        margin: 5px 0 15px 0;
    }

    .profile-tree .phone-verified {
        color: lightcoral;
        font-weight: 400;
    }
}

.profile-tree .angular-google-map-container {
    top: 0;
    height: 150px;
    width: 100%;
}

md-switch.no-margin {
   /* margin: 0 0; */
}

.profile-tree .angular-ui-tree-handle {
    cursor: pointer;
    font-weight: 500;
}

/* user profile pop up border radius */
md-dialog.md-default-theme, md-dialog {
    border-radius: 0px;
    background-color: rgb(255,255,255);
}
/* user profile width */
md-dialog {
    opacity: 0;
    min-width: 300px;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    overflow: auto;
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

