/*Profile tree starts*/

.profile-tree .top-transaction {
    background-color: rgba(222, 222, 222, 0.5);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    font-size: 110%;
}

.profile-tree .main-title {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-tree .angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 0;
}

.profile-section h4 {
    vertical-align: middle;
    font-weight: 600;
}

.profile-tree .profile-store-icon {
    padding: 10px 6px 3px 6px
}

.profile-tree input {
    box-shadow: none;
}

.profile-tree .right-corner-btn {
    position: absolute;
    right: 0;
    background-color: lightcoral;
}

.profile-tree .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: gray;
}

.profile-tree .hint.ng-hide,
.profile-tree .hint.ng-enter,
.profile-tree .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.profile-tree .hint.ng-leave,
.profile-tree .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

.profile-tree .crop-area {
    height: 300px;
}

.profile-area .crop-area choose-file-button {
    position: absolute;
    right: 30px;
}

.profile-area md-button {
    background-color: lightcoral;
}

.profile-tree .md-errors-spacer {
    display: none;
}

.profile-tree md-input-container {
    margin: 0 0 0 0;
}

@media (min-width: 0) and (max-width: 600px) {
    .profile-tree md-input-container {
        padding-bottom: 0;
        margin: 0 0 0 0;
    }

    .profile-tree .specialities md-input-container {
        margin: 0 0 0 0;
    }

    .profile-tree .phone-verified {
        color: lightcoral;
        font-weight: 400;
    }
}

.profile-tree .angular-google-map-container {
    top: 0;
    height: 150px;
    width: 100%;
}

md-switch.no-margin {
    /* margin: 0 0; */
}

.profile-tree .angular-ui-tree-handle {
    cursor: pointer;
    font-weight: 500;
}

/* user profile pop up border radius */
md-dialog.md-default-theme, md-dialog {
    border-radius: 0;
    background-color: rgb(255, 255, 255);
}

@media only screen and (min-height: 480px) {
    .main-title {
        max-width: 200px;
        width: 200px;
    }
}

@media only screen and (min-width: 375px) {
    .main-title {
        max-width: 100%;
        width: 100%;
    }
}

md-dialog-actions.io-close-btn {
    position: absolute;
    top: 5px;
    right: 0;
    border-top-color: transparent !important;
    z-index: 51;
}

.itemview.item-container .io-shipping-proccessing {
    border-radius: 25px;
}

.add-item-container.itemview.item-container .hidden-add-item {
    display: none;
}

.reduce-margin {
    margin: 1px 0 1px 0;
    padding: 0;
}

.less-margin {
    margin: 12px 0 12px 0;
    max-width: 180px;
}

.profile-tree .crop-area .io-profile-crop-btn {
    position: absolute;
    right: 20px;
}

.profile-tree .crop-area choose-file-button.io-profile-upload-btn {
    position: absolute;
    right: 15px;
}

.profile-tree .io-avatar.io-avatar-inside-name-draw {
    width: 80px;
    height: 80px;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0;
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}