<!doctype html>
<html ng-app="instastore" lang="en" background-image="{{bgUrl}}" background-filter="{{bgFilter}}"
      ng-class="$state.includes('store')?'full-opacity':''">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="fragment" content="!"/>
    <meta name="description" content="">

    <base href="/">

    <title>Instastore</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://imageshack.com/a/img838/8456/lyzi.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://imageshack.com/a/img823/1299/o8xm.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://imageshack.com/a/img713/6718/hal8.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="https://imagizer.imageshack.us/v2/114x114q90/690/galb.jpg">

    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Facebook stuff -->
    <meta property="og:title" content="Instastore"/>
    <meta property="og:type" content="mobile site"/>
    <meta property="og:url" content="https://instastore.us"/>
    <meta property="og:image" content="../../assets/page-preview.jpg"/>
    <meta property="fb:admins" content="574026598"/>
    <meta property="fb:page_id" content="100942423298296"/>
    <meta property="og:description"
          content="Customize your own m-commerce store in minutes. Then share it with your network as your own app."/>


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!--<link rel="stylesheet" href="http://code.ionicframework.com/1.0.0/css/ionic.min.css">-->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-if="$state.includes('feed') || $state.includes('grid') || $state.includes('location') || $state.includes('storeview')"
     ng-include src="'app/components/site/header.html'"></div>

<div ng-if="$state.includes('itemview') || $state.includes('store')"
     ng-include src="'app/components/site/custom-header.html'"></div>

<div ng-class = "$state.includes('profile') || $state.includes('profilestore')?'am-fade-and-slide-top':'am-fade-and-slide-left'" class="page ng-cloak" ui-view></div>

<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
