<!doctype html>
<html ng-app="instastore" lang="en" background-image="{{bgUrl}}" background-filter="{{bgFilter}}"
      ng-class="$state.includes('store')?'full-opacity':''">
<head>
    <base href="/">

    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>isOpen</title>
    <meta http-equiv="cleartype" content="on">

    <link rel="icon" type="image/x-icon" href="http://instastore.us/assets/images/favicon.ico">


    <!-- Save to home screen icon image links -->

    <!-- iPad2, iPad mini@x1-->
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="http://i839.photobucket.com/albums/zz316/davidmollison/AppIcon76x76.png">

    <!-- iPhone4s@x2, iPhone6 & iPhone5@x2-->
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="http://i839.photobucket.com/albums/zz316/davidmollison/AppIcon60x602x.png">

    <!-- iPad2, iPad mini@x2-->
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="http://i839.photobucket.com/albums/zz316/davidmollison/AppIcon76x762x.png">

    <!-- iPhone6+@3x-->
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
          href="http://i839.photobucket.com/albums/zz316/davidmollison/Appicon180x180.png">

    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Facebook stuff -->
    <meta property="og:title" content="isOpen"/>
    <meta property="og:type" content="mobile site"/>
    <meta property="og:url" content="isopen.us"/>
    <meta property="og:image" content="http://isopen.us/img/pagepreview.jpg"/>
    <meta property="fb:admins" content="574026598"/>
    <meta property="fb:page_id" content="100942423298296"/>
    <meta property="og:description" content="Create your own e-commerce app in seconds"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div style="position: fixed; width:30%; background: url('https://s3.amazonaws.com/cuturia/mobbbi/VzmlN9iMnhH0VSyE8Vk6vP4QwrnN-i4b.gif') center center no-repeat;"
     ng-if="!$state"></div>

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="start"></div>

<div du-scroll-container
    ng-if="
    $state.includes('feed')
 || $state.includes('grid')
 || $state.includes('location')
 || $state.includes('storeview')
 || $state.includes('itemview')
 || $state.includes('store')
 || $state.includes('instaimport')
 || $state.includes('subscriptions')
 || $state.includes('stream')"
     ng-include src="'app/components/site/header.html'"></div>

<div ng-class="$state.includes('profile') || $state.includes('profilestore')?'am-fade-and-slide-top':'am-fade-and-slide-left'"
     class="page ng-cloak" ui-view></div>

<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script src="https://js.stripe.com/v2/"></script>
<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
