<div ng-controller="SiteHeader" id="container1-itemview" class = "bar">
    <div id="navigation1">
        <ul>
            <li>
                <a ui-sref="feed({storeurl:$stateParams.storeurl})">
                    <div class="back"></div>
                </a>
                <a ui-sref="store({storeurl:$stateParams.storeurl})" style="width: 8%;">
                    <img class="profile customheader-profile" ng-src="{{store.avatar_url|storeAvatar}}">
                </a>
            </li>
            <li>
                <a href="#" style="width: 62%; height: 38px">
                    <div class="fast-tap storetitle"></div>
                    <h3>{{store.store_name}}</h3>
                </a>
            </li>
            <li>
                <a ui-sref="profile">
                    <div class="fast-tap user"></div>
                    <h4></h4>
                </a>
            </li>
        </ul>
    </div>
</div>