<div layout="column" ng-controller="SiteHeader" class="no-print">
    <div layout layout-align="center center" class="io-bar"
         ng-class="{'instaimport-bar':$state.includes('instaimport')}">
        <div ng-click="goBack()">
            <div class="back"></div>
        </div>
        <div layout flex ng-click="scrollToTop()" class="middle-section">
            <div flex layout layout-align="center center">
                <div class="header-title">
                    {{$state.includes('stream') || $state.includes('stream-grid') ||
                    $state.includes('subscriptions')?'All Store':store.store_name}}
                </div>
            </div>
        </div>
        <div ng-if="!$state.includes('transaction')">
            <a class="transaction-icon" href="/transaction/{{$stateParams.storeurl}}">
                <ng-md-icon icon="alert-off" size="24"
                            style="fill: #545052"></ng-md-icon>
                <div ng-class="{'active': transactionService.count}"
                     class="transaction-count am-slide-right">{{transactionService.count}}
                </div>
            </a>
        </div>
        <div ng-if="$state.includes('transaction')" ng-click="showProfile()">
            <div class="user"></div>
        </div>
    </div>
    <div
        ng-if="!($state.includes('itemview') || $state.includes('store') || $state.includes('instaimport') || $state.includes('transaction'))">
        <div layout="column" class="io-sub-bar-freeshipping">
            <div layout layout-align="center center" flex layout-padding class="free-shipping">FREE SHIPPING ON ALL
                                                                                               ITEMS
            </div>
        </div>
        <div layout layout-padding class="io-sub-bar">
            <div ui-sref="store({storeurl:$stateParams.storeurl})">
                <img class="profile" ng-src="{{store.avatar_url|storeAvatar}}">
            </div>
            <div layout="column" flex>
                <div layout>
                    <div layout="column" layout-align="center center" flex>
                        <span class="profile-digits">Items</span>

                        <h3>{{store.userItemsAmount}}</h3>
                    </div>
                    <div layout="column" layout-align="center center" flex>
                        <span class="profile-digits">Followers</span>

                        <h3>{{store.followersAmount}}</h3>
                    </div>
                </div>
                <div flex layout layout-align="center center">
                    <div ng-if="!isSeller">
                        <div ng-if="!($state.includes('stream') || $state.includes('subscriptions'))" class="btn"
                             ng-click="toggleFollowerState()">
                            {{store.isFollower?'&nbsp;Unfollow
                            Store&nbsp;':'Follow&nbsp;+'}}
                        </div>
                        <div ng-if="$state.includes('stream') || $state.includes('subscriptions')" class="btn"
                             ng-click="showProfile()">
                            Edit Profile
                        </div>
                    </div>
                    <div ng-if="isSeller">
                        <md-select ng-model="configSiteHeader.headerMode" md-on-close="toggleMenuState()">
                            <md-option value="editstore">
                                Your Store
                            </md-option>
                            <md-option value="storestream">
                                All Store Stream
                            </md-option>
                            <md-option value="editprofile">
                                Edit Profile
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </div>
        </div>

        <div layout="column" layout-align="center center">
            <p ng-init="isMore = true" flex class="store-description" ng-class="{'active': !isMore}"
               layout-padding>{{store.description}}</p>
            <a ng-click="isMore = !isMore" ng-show="isMore" href="#">
                <ng-md-icon icon="expand_more" size="24" style="fill: #545052"></ng-md-icon>
            </a>
            <a href="#" ng-show="!isMore" ng-click="isMore = !isMore">
                <ng-md-icon icon="expand_less" size="24" style="fill: #545052"></ng-md-icon>
            </a>
        </div>

        <div id="container2">
            <div id="navigation2">
                <div ng-if="isSeller">
                    <div
                        ng-if="!($state.includes('stream') || $state.includes('stream-grid') || $state.includes('subscriptions'))"
                        layout layout-align="center center"
                        class="am-fade-and-slide-left am-fade-and-slide-left-add subheader-menu-items">
                        <div layout="column" flex
                             class="subheader-menu-item"
                             ng-click="clickToOpen()">
                            <div class="additem"></div>
                            <div class="title">Add item</div>
                        </div>
                        <div layout="column" flex
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="grid({storeurl:profile.store.store_url, mode:''})">
                            <ng-md-icon icon="grid" style="fill:black"></ng-md-icon>
                            <div class="title">Grid</div>
                        </div>
                        <div layout="column" flex
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="grid({storeurl:profile.store.store_url, mode:'feed'})">
                            <div class="stream"></div>
                            <div class="title">Stream</div>
                        </div>
                    </div>
                    <div
                        ng-if="$state.includes('stream') || $state.includes('stream-grid') || $state.includes('subscriptions')"
                        layout layout-align="center center"
                        class="am-fade-and-slide-right am-fade-and-slide-right-add subheader-menu-items">
                        <div layout="column" flex
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="stream-grid({storeurl:profile.store.store_url})">
                            <ng-md-icon icon="grid" style="fill:black"></ng-md-icon>
                            <div class="title">Grid</div>
                        </div>
                        <div layout="column" flex layout-align="center center"
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="stream({storeurl:profile.store.store_url})">
                            <ng-md-icon icon="multi-stream" style="fill:black"></ng-md-icon>
                            <div class="title">Multi Stream</div>
                        </div>
                        <div layout="column" flex layout-align="center center"
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="subscriptions({storeurl:profile.store.store_url})">
                            <ng-md-icon icon="following" style="fill:black"></ng-md-icon>
                            <div class="title">Stores</div>
                        </div>
                    </div>

                </div>
                <div ng-if="!isSeller">
                    <div ng-if="!($state.includes('stream') || $state.includes('subscriptions'))"
                         class="subheader-menu-items"
                         layout layout-align="center center">
                        <div layout="column" flex
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="grid({storeurl:$stateParams.storeurl, mode:''})">
                            <ng-md-icon icon="grid" style="fill:black"></ng-md-icon>
                            <div class="title">Grid</div>
                        </div>
                        <div layout="column" flex
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="grid({storeurl:$stateParams.storeurl, mode:'feed'})">
                            <div class="stream"></div>
                            <div class="title">Stream</div>
                        </div>
                        <div layout="column" flex
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="location({storeurl:$stateParams.storeurl})">
                            <div class="location"></div>
                            <div class="title">Location</div>
                        </div>
                    </div>
                    <div ng-if="$state.includes('stream') || $state.includes('subscriptions')"
                         layout layout-align="center center"
                         class="am-fade-and-slide-right am-fade-and-slide-right-add">
                        <div layout flex layout-align="center center"
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="stream({storeurl:profile.store.store_url})">
                            <span>Multi<br>Stream</span>
                        </div>
                        <div layout flex
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="grid({storeurl:profile.store.store_url, mode:''})">
                            <div class="gridstream"></div>
                        </div>
                        <div layout flex layout-align="center center"
                             class="subheader-menu-item"
                             ui-sref-active="menu-item-active"
                             ui-sref="subscriptions({storeurl:profile.store.store_url})">
                            <span>Subs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
