<div ng-controller="SiteHeader" id="container1-itemview">
    <div ng-if="sellerAllowed" id="navigation1">
        <ul>
            <li>
                <a style="width:82%;height:38px"></a>
            </li>
            <li>
                <a ng-click="goAsBuyer()">
                    <div class="store"></div>
                    <h4></h4>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="outer-top sellorbuy">
    <div class="middle">
        <div class="inner">
            <br>
            <br>
            <img src="assets/images/isopeniconlogo368px.png" width="140">
            <br>
            <br>

            <h3>Welcome {{facebookProfile.first_name}} {{facebookProfile.last_name}}</h3>

            <div>
                <img ui-sref="profile" class="profile"
                     ng-src="http://graph.facebook.com/{{facebookProfile.id}}/picture?type=large">
            </div>

            <br>
      

            <div ng-if="sellerAllowed" style="display: inline-block; width: 240px; margin: 0 10px 10px 10px;">
                <a ng-click="goAsSeller()" class="btn enter-button">&nbsp;Enter&nbsp;</a>
            </div>
            <div ng-if="!sellerAllowed" style="display: inline-block; width: 240px; margin: 0 10px 10px 10px;">
                <a ng-click="goAsBuyer()" class="btn enter-button">&nbsp;Enter&nbsp;</a>
            </div>
        </div>
    </div>
</div>
