<div ng-controller="SiteHeader" id="container1-itemview">
    <div id="navigation1">
        <ul>
            <li>
                <a style="width:82%;height:38px"></a>
            </li>
            <li>
                <a ng-click="goAsBuyer()">
                    <div class="fast-tap store"></div>
                    <h4></h4>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="outer-top sellorbuy">
    <div class="middle">
        <div class="inner">
            <br>
            <br>
            <img src="assets/images/mobbbi.png" width="140">
            <br>

            <h3>Welcome store owner</h3>

            <p style="margin: 20px 10px 20px 10px;">Enter as store owner or store-icon to view your store as
                customer </p>

            <div style="display: inline-block; width: 240px; margin: 0 10px 10px 10px;">
                <a ng-click="goAsSeller()" class="btn enter-button">&nbsp;Enter&nbsp;</a>
            </div>
        </div>
    </div>
</div>
