.land-main header {
    position: relative;
    min-height: 740px;
    height: 100vh;
    text-align: center;
    color: #fff;
}

.land-main header {
    top: 0;
    width: 100%;
    content: "";
    background: #f98c71;
    background: -moz-linear-gradient(45deg, #f98c71 0%, #f5006e 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #f98c71), color-stop(100%, #f5006e));
    background: -webkit-linear-gradient(45deg, #f98c71 0%, #f5006e 100%);
    background: -o-linear-gradient(45deg, #f98c71 0%, #f5006e 100%);
    background: -ms-linear-gradient(45deg, #f98c71 0%, #f5006e 100%);
    background: linear-gradient(45deg, #f98c71 0%, #f5006e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f98c71', endColorstr='#f5006e', GradientType=1);
    background-position: center;
    -webkit-filter: brightness(100%);
    /* Chrome, Safari, Opera */
    filter: brightness(100%);
}

.land-main .phones {
    width: 425px;
    height: 560px;
    background-image: url("../../../assets/images/land/main/Phones.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.land-main .login {
    background-color: white;
    width: 357px;
    height: 490px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.land-main .logo {
    height: 100%;
    width: 100%;
    background-image: url("/assets/images/land/main/isopen-logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.land-main .login .logo {
    height: 100px;
    width: 154px;
}

.land-main .login .login-title {
    margin: 20px 0;
    margin-bottom: 23px;
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
}

.land-main .login .login-avatar {
    width: 100px;
    height: 100px;
    background-image: url('../../../assets/images/land/main/avatar-facebook.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
}

.land-main .login .login-facebook {
    margin: 10px;
}

.land-main ng-md-icon {
    width: initial;
    height: initial;
}

/*.land-main header:after {*/
/*position: absolute;*/
/*top: 0;*/
/*z-index: -1;*/
/*height: 100%;*/
/*width: 100%;*/
/*content: "";*/
/*opacity: 0.5;*/
/*background-color: #000;*/
/*background-position: center;*/
/*background-size: cover;*/
/*}*/

.land-main .header-content-inner {
    margin-top: 90px;
}

.land-main header .header-content .header-content-inner h1 {
    margin-top: -80px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

.land-main header .header-content .header-content-inner h1.header-title-land {
    margin-top: 0;
    font-size: 65px;
}

.land-main .parallax-two {
    background-image: url("/assets/images/land/main/Mo4.jpg");
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;
}

.land-main .btn {
    width: 170px;
    background-color: #f17668;
}

.land-main hr {
    width: 50px;
    border: 1px solid #eee;
    border-color: #f17668;
    border-width: 3px;
}

.land-main hr.light {
    border-color: #fff;
}

.land-main header .header-content .header-content-inner hr {
    margin: 30px auto;
}

.land-main p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

.land-main section.bg-primary {
    text-align: center;
    color: #fff;
    background-color: #F37878;
    padding: 30px;
}

.land-main section.bg-dark {
    color: #fff;
    background-color: #222;
    text-align: center;
    padding: 30px;
}

.land-main .bg-section p {
    color: #000;
}

.land-main .icon {
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin: auto;
}

.land-main .message-circle-main {
    background: url("/assets/images/icons.svg");
    background-position: -825px -1px;
    background-size: 2700px 105px;
}

.land-main .heart-circle-main {
    background: url("/assets/images/icons.svg");
    background-position: -930px -1px;
    background-size: 2700px 105px;
}

.land-main .location-circle-main {
    background: url("/assets/images/icons.svg");
    background-position: -1035px -1px;
    background-size: 2700px 105px;
}

.land-main .buy-circle-main {
    background: url("/assets/images/icons.svg");
    background-position: -1138px -1px;
    background-size: 2700px 105px;
}

.land-main .photo-circle-main {
    background: url("/assets/images/icons.svg");
    background-position: -1242px -1px;
    background-size: 2700px 105px;
}

.land-main .key-circle-main {
    background: url("/assets/images/icons.svg");
    background-position: -1350px -1px;
    background-size: 2700px 105px;
}

.land-main .edit-circle-main {
    background: url("/assets/images/icons.svg");
    background-position: -1450px -1px;
    background-size: 2700px 105px;
}

.land-main .delete-circle-main {
    background: url("/assets/images/icons.svg");
    background-position: -1562px -1px;
    background-size: 2700px 105px;
}

.land-main .service-box {
    text-align: center;
}

.land-main .portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.land-main .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.land-main .portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240, 95, 64, 0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.land-main .user-tree input {
    box-shadow: none;
}

.land-main md-input-container.md-default-theme label,
.land-main md-input-container label,
.land-main md-input-container.md-default-theme .md-placeholder,
.land-main md-input-container .md-placeholder {
    color: #fff !important;
}

.land-main .md-input-container.md-default-theme .md-input,
.land-main md-input-container .md-input {
    border-color: #fff !important;
}

.land-main .md-input-container.md-default-theme .md-input,
.land-main md-input-container .md-input {
    color: #fff !important;
}

.land-main .md-button.md-raised.io-raised-btn {
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizelegibility;
    padding: 5px 70px 5px 70px;
    margin: 5px 10px 16px 10px;
}

.land-main .md-button.md-raised.io-primary-btn {
    text-transform: uppercase;
}

.land-main .md-button.io-bold-btn {
    font-weight: bold;
}

.land-main .navbar-default {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.land-main .menu-logo {
    width: 72px;
}

.land-main .menu-logo-right {
    width: 150px;
}

.land-main .enter-facebook {
    cursor: pointer;
    background-color: #415e9b !important;
    padding: 5px 40px 5px 40px !important;
    border-radius: 24px !important;
}

.land-main .facebook-icon-btn .md-icon-button ng-md-icon svg {
    margin-top: -6px !important;
}

.land-main .navbar-default .facebook-icon-btn {
    margin-right: 22px;
}

.land-main .sidenav-header {
    margin-top: 56px;
}

.land-main .menu-buttons {
    position: fixed;
    right: 0;
    z-index: 70;
}

.land-main md-sidenav {
    position: fixed;
}

.land-main .link-demo {
    margin-top: 15px;
    background-color: rgba(255,255,255, 0.3) !important;
}

.land-main .menu-bar a.active {
    border-bottom: 3px solid #f17668;
    border-radius: 0;
}

.land-main .menu-bar-right a.active {
    border-bottom: 3px solid #f17668;
    border-radius: 0;
    color: #fff;
    background-color: #f17668;
}

.land-main .link-demo-back {
    margin: 24px;
    background-color: #222 !important;
}

.land-main .body-moovin.open {
    right: 321px;
    position: relative;
}

.land-main md-backdrop {
    position: fixed;
}